// Settings
$main-font: 'Open Sans',sans-serif;

body {
    font-family: $main-font;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0 0 15px;
    padding: 0;
}



h1 {

	font-size: 1.8rem;

	@include media-breakpoint-up(xl) {
		font-size: 2.2rem;
	}

}



h2 {
    font-size: 30px;
    font-weight: 400;
}

p {
	line-height: 1.4rem;
}

