
$primary:       #1999a4;

// Settings / Defaults
@import 'vendor/normalize';

// @import 'settings/settings';
// @import 'settings/mixins';
// @import 'settings/helpers';

@import 'settings/global';

// Components
@import "../../node_modules/bootstrap/scss/functions";

@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";

@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

@import 'settings/typography';


// Started with provided framework, got a bit lost with the grid so switched out to bootstrap 4


nav.navbar {

	width: 100%;
	top: 0;
	z-index: 1000;

	background: linear-gradient(to right, rgba(255,255,255,0) 40%, rgba(255,255,255,1) 50%);
	// background: white;

	a.logo {

		img {
			padding-top: 7px;
			padding-bottom: 7px;
		}
		span {
			display: none;
		}
	}

	a#mobile-menu {
		padding: 30px;
		border: 1ps solid $primary;
		color: #222222;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		padding: 30px 10px;

	}

	.container {
		background-color: white !important;
	}
	
	@include media-breakpoint-down(md) {
		ul {
			display: none;
			z-index: 100;
			position: fixed;
			width: 100%;
			height: 100vh;
			background: rgba($primary, 0.95);
			top: 0;
			left: 0;
			padding-top: 50px;
			li {

				a {
					text-align: center;
					padding: 20px 10px;
					display: block;
					width: 100%;
					color: white;
					margin: 0 auto;
					font-size: 24px;
					font-weight: 700;
					text-decoration: none;
				}
			}
		}

		ul.active {

			display:block;
		}
	}

	@include media-breakpoint-up(lg) {

		ul {
			display: inline-block;
			list-style-type: none;

			li {
				display: inline-block;

				a {
					color: #222222;
					font-weight: 600;
					text-decoration: none;
					text-transform: uppercase;
					display: block;
					padding: 30px 10px;
				}
			}

			li:first-child, li:last-child {
				a {
					color: $primary;
				}
			}
		}

	}

	@include media-breakpoint-up(lg) {
		position: fixed;
	}
}

section {
	padding: 30px 0px;
}

.iAmHero {
	padding-top: 180px;
	text-align: center;

	h1 {
		color: white;
		font-weight: 600;
	}

	padding-bottom: 170px;
	@include media-breakpoint-up(lg) {
		padding-top: 250px;
	}
}

.buttons {

	a {
		display: block;
		padding: 10px 20px;
		color: white;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 1px;
		margin-bottom: 20px;
		margin-left: auto;
		margin-right: auto;

	}

	@include media-breakpoint-up(md) {
		a {
			margin: 0;
			display: inline-block;
			padding: 25px 30px 20px 30px;
			font-size: 1.2rem;
			margin-left: 10px;

		}
	}

	@for $i from 1 through 2 {
		a:nth-child(#{$i}) {
			background-color: rgba(lighten(darken(#38aeab, ($i * 10)), 15%), (.8s - ($i / 10) ));
			transition: 0.2s;
		}

		a:hover:nth-child(#{$i}) {
			background-color: rgba(lighten(darken(#38aeab, ($i * 10)), 25%), (1));
		}
	}
}

.thePitch {
	border-top: 13px solid $primary;

	padding-top: 30px;
	padding-bottom: 30px;

	h1 {
		font-weight: 200;

		span {
			font-weight: 600;
		}
	}

		h1 {



		}

	ul {
		list-style-type: none;
		li {
			a {
				font-size: 0.8rem;
				text-decoration: none;
			}

			a:after {
				content: '|';
				padding: 0 5px 0 10px;
			}

		}

		li:last-child a:after {
			content: '';
			padding: 0;
		}
	}
}

.twitters {
	.fa-circle {
		// @extend .text-primary;
		color: rgba($primary, 0.5);
		transition: 0.2s;

	}

	span.active .fa-circle {
		color: rgba($primary, 1);
	}

	.slide {
		font-weight: 600;
	}
}

.theClients {
	background: $primary;

	img {
		width: auto;
		height: 70px;
	}
}

.theCallToAction {
	border-top: 13px solid black;

	@include media-breakpoint-up(md) {
		// made jpg since its a white background anyway, png's tend to be bigger.
		// usually I'd cut from vector images so that we are all hiDPi and all that jazz
		background: url(../../img/circle-shape-1.png), url(../../img/circle-shape-2-judged-by-crop-tool.jpg);
		background-repeat: no-repeat, no-repeat;
		background-size: contain, contain;
		background-position: -300px center, right center;	
	}


	form {
		background-color: #3dccc7;

		h3 {
			font-size: 1.6rem;
		}

		.form-control {
			background-color: #d8f5f4;
		}

		button {
			background-color:  #3dccc7;
			color: white;
			transition: 0.2s;
			letter-spacing: 1px;
		}

		button:hover {
			background-color: lighten(#3dccc7, 20%);
			// color: $primary;
		}

	}
}

.theNews {


	.card {
		box-shadow: 0px 4px 6px rgba(0,0,0,0.2);
		transition: 0.2s;
		max-width: 450px;
		@extend .mx-auto;
	}

	.card:hover {
		box-shadow: 0px 4px 16px rgba(0,0,0,0.4);
		cursor: pointer;
	}


	@include media-breakpoint-up(lg) {
		padding-top: 0;
	}
}

footer {
	display: block;
	padding-top:150px;
	padding-bottom:150px;

	background: #333;
	img.logo {
		display: block;
		width: 200px;
		margin: 0 auto;
	}

	ul li a {
		text-decoration: none;
		@extend .mx-3;
		color: #999;
	}

	ul li a:hover {
		color: #ddd;
		transition: 0.2s;
	}
}

.bg-hero {
	// How i like to wrap divs with changable background classes etc
	background: #444;

	background-image: url('/img/banner.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.bg-primary-lighter {
	background-color: #68d8d6;
}

.bg-partial {

	background-color: #68d8d6;

	@include media-breakpoint-up(lg) {
		padding-top: 0;
		background: linear-gradient(to top, rgba(#68d8d6,0) 40%, rgba(#68d8d6,1) 40%);	


	}
}


.fade {
	animation-name: fade;
	animation-duration: 0.7s;
}

@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
